.portfolio-modal-container {
    position: absolute;
    right: 40%;
    width: 50%;
    top: 20%;
    height: 60%;
    background-color: rgba(0,0,0,.8);
    border: white 2px solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    opacity: 0.95;
}

.portfolio-modal-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: clamp(18px, 3rem, 36px);
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    bottom: 80%;
    font-weight: 800;

}

.portfolio-modal-info {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    top: 20%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.portfolio-modal-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    
    img {
        width: 100%;
        height: auto;
        min-height: 100%;
    }
}

.portfolio-modal-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    //height: clamp(100px, 15vh, 200px);
    font-size: clamp(18px, 1.5rem, 36px);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.portfolio-modal-skills::-webkit-scrollbar {
    display: none;
}

.portfolio-skill {
    margin: 10px;
    background-color: rgba(0, 0, 0, .8);
    border: 2px white double;
    cursor: pointer;
}