@import '../../styles/variables';


*{
    box-sizing: border-box;
}

.portfolio-modal-container {
    position: absolute;
    right: 40%;
    width: 50%;
    top: 20%;
    height: 60%;
    background-color: rgba(0,0,0,.8);
    border: white 2px solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    opacity: 0.95;
}

.portfolio-modal-title {
    position: absolute;
    font-family: 'Cinzel Decorative', cursive;
    font-size: $large-font;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: $large-font;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    bottom: 90%;
    font-weight: 800;
}

.portfolio-modal-info {
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    top: 10%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-modal-info>div {
    margin-left: 5%; 
    margin-right: 5%;

    font-family: 'IM Fell English SC', serif;
    font-size: $small-font;
}

.portfolio-modal-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    
    img {
        width: 100%;
        height: auto;
        min-height: 100%;
    }
}

.portfolio-modal-hbuttons {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: $medium-font;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-top: 1px white double;
    border-bottom: 1px white double;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.4), rgba(255,255,255,0));
    margin: auto auto;
    scroll-behavior: smooth;
}

.portfolio-modal-hbuttons > * {
    transition: transform 0.3 ease;
}

.portfolio-modal-hbuttons::-webkit-scrollbar {
    display: none;
}

.portfolio-modal-links {
    position: relative;
    justify-content: space-around;
}

.portfolio-modal-skills {
    position:relative;
    justify-content: flex-start;
}

.portfolio-modal-summary {
    font-size: $medium-font;
    overflow: hidden;
}


.portfolio-skill, .portfolio-link {
    margin-left: 10px;
    background-size: 100% 100%;
    background-position: center;
    width: auto;
    opacity: .8;

    span {
        font-family: 'IM Fell English SC', serif;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        padding-top: -100%;
    }

    &:hover {
        transform: scale(1.05);
        opacity: 1;
    }
}

.portfolio-skill {
    padding: 1% 3% .5% 3%;
}

.portfolio-link {
    font-size: $extra-small-font;
    padding: .5% 5% 1% 5%;
}