//Profile Image
$navbar-top-buffer: calc(min(10vw, 100px) + 20px);
$margin-sides: max(10px, 15vw);
$navbar-bottom-buffer: calc(min(10vw, 100px) + 40px);

.main-view-container {
    position: absolute;
    top: $navbar-top-buffer;
    bottom: $navbar-bottom-buffer;
    left: $margin-sides;
    right: $margin-sides;
}

.mv-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px; 
    left: 10px;
    width: 10vw;
}

.mv-text-bubble {
    position: absolute;
    left: calc(15px + 10vw);
    bottom: calc(10px + 20vw);
    width: 50vw;
    height: 30vh;
    background-color: rgba(255,255,255, .2);
    color: white;
    border-radius: 10px;

}