//Profile Image
$navbar-top-buffer: calc(min(10vw, 100px) + 20px);
$margin-sides: max(10px, 15vw);
$navbar-bottom-buffer: calc(min(10vw, 100px) + 40px);

.main-view-container {
    position: absolute;
    top: $navbar-top-buffer;
    bottom: $navbar-bottom-buffer;
    left: $margin-sides;
    right: $margin-sides;
}

.mv-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px; 
    left: 10px;
    width: min(100px, 30%);
}

.mv-text-bubble {
    position: absolute;
    //left: calc(20px + min(100px, 30%));
    left: 20px;
    bottom: calc(10px + 20vw);
    top: min(25px, 5%);
    width: 100%;
    color: white;
    border-radius: 10px;

    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: space-around;
}