@use 'sass:math';

@function ratio($portion, $whole) {
    @return math.div($portion, $whole) * 100%;
}

//Navbar
$navbar-top-buffer: calc(min(10vw, 100px) + 20px);
$navbar-bottom-buffer: calc(min(10vw, 100px) + 40px);
$margin-sides: max(10px, 15vw);

//Quest Background
$quest-background-height: 650px;  //ratio will be 100%
$quest-background-width: 700px;   //ratio will be 100%

//Intro
$quest-intro-height: ratio(80px, $quest-background-height);
$quest-intro-width: ratio(310px, $quest-background-width);

$quest-intro-top: ratio(125px, $quest-background-height);
$quest-intro-left: ratio(195px, $quest-background-width);

$avatar-container-width:  min(100px, 30%);

//Text
$quest-text-height: ratio(390px, $quest-background-height);
$quest-text-width: ratio(380px, $quest-background-width);

$quest-text-margin: ratio(20px, $quest-background-height);
$quest-text-top: $quest-intro-top + $quest-intro-height + $quest-text-margin;
$quest-text-left: ratio(160px, $quest-background-width);




//ALL QUEST SIZE IS CHANGED HERE
.mv-quest-container {
    position: absolute;
    top: 10px;
    bottom: 20%;
    left: calc($avatar-container-width + 10px);
    right: 10%;

}

.mv-quest-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mv-quest-text-intro, .mv-quest-text-body {
    position: absolute;
    z-index: 2;
}

.mv-quest-text-intro {
    //Responsive, large, bold
    font-size: clamp(18px, 2.5vw, 27px);
    font-weight: 600;

    //Center all
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    //Position
    top: $quest-intro-top;
    left: $quest-intro-left;
    width: $quest-intro-width;
    height: $quest-intro-height;
}

.mv-quest-text-body {
    //Responsive, medium
    font-size: clamp(12px, 2vw, 18px);

    //Column
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    //Position
    top: $quest-text-top;
    left: $quest-text-left;
    width: $quest-text-width;
    height: $quest-text-height;
}