

.sps-container {
    margin: min(1vw, 1vh);
    position: relative;
    width: calc(100% - min(1vw, 1vh));
    height: 25%;
    display: flex; 
    flex-direction: column;
    background-color: white;
    outline: white 2px solid;
    border-radius: 5px;
    opacity: .95;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
}

.sps-image-container {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 70%;
    overflow: hidden;
    
    img {
        width: 100%;
        height: auto;
        min-height: 100%;
    }
}

.sps-project-name {
    font-family: 'Cinzel Decorative', cursive;
    position: absolute;
    top:0;
    height: 30%;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: clamp(18px, 1.5rem, 24px);
    color: white;
}

//Hold skill-container and links
.sps-details {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    top: 30%;
    width: 100%;
    height: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

//holds skill and link respectively
.sps-skill-container, .sps-links{
    margin: 5px 0;
    display: flex;
}

.sps-links {
    width: 100%;
    justify-content: space-around;
}

//Buttons
.sps-skill, .sps-link {
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.sps-skill, .sps-link {
    margin-left: 10px;
    background-size: 100% 100%;
    background-position: center;
    padding: 5px 20px;
    width: auto;
    opacity: .8;

    span {
        font-family: 'IM Fell English SC', serif;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }

    &:hover {
        transform: scale(1.05);
        opacity: 1;
    }
}
.sps-link {
    padding: 5px 5%;
}


