//Profile Image
$navbar-top-buffer: calc(min(10vw, 100px) + 20px);
$margin-sides: max(10px, 15vw);
$navbar-bottom-buffer: calc(min(10vw, 100px) + 40px);

$midpoint: 70%;

.portfolio-quest-container {
    left: 0;
    right: calc((100% - $midpoint) + 10px);
}

.portfolio-container {
    position: absolute;
    right: 0;
    left: calc($midpoint - 5px);
    top: 5%;
    bottom: 0
}