@import '../../styles/variables';

$midpoint: 70%;

.csv-container {
    position: absolute;
    left: 0;
    right: calc($midpoint - 5px);
    top: 10%;
    bottom: 10%;
}

.csv-quest-container {
    right: 0;
    left: calc((100% - $midpoint) + 10px);
    bottom: 10%;
}

.csv-avatar {
    left: calc(100% - ($midpoint - 10px));
}
