@import '../../styles/variables';

.csv-button {
    position: relative;
    width: min(35vh,35vw);
    height: min(35vh,35vw);

    font-size: $large-font;
    padding: min(8vh, 8vw);
    cursor: pointer;


    img {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}

.csv-text-holder {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 7%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}