//Navbar Offset
$nav-top-margin: 10px;

//Profile Image
$profile-image-size: clamp(75px, 100px, 15vh);

//Skillbar Icon
$skillbar-icon-size: clamp(30px, calc($profile-image-size * 50 / 100), 5vh);

//Margins
//$side-margin: max(10px, 15vw);
$side-margin: clamp(5px, 100vw - 500px, 15vw);

$navbar-top-buffer: calc($profile-image-size * 1.1);
$navbar-bottom-buffer: calc($skillbar-icon-size * 2.5 + 5px);

