//Navbar Offset
$nav-top-margin: 10px;

//Profile Image
$profile-image-size: clamp(75px, 100px, 15vh);

//Skillbar Icon
$skillbar-icon-size: clamp(30px, calc($profile-image-size * 50 / 100), 5vh);

//Margins
//$side-margin: max(10px, 15vw);
$margin-sides: clamp(5px, 100vw - 950px, 15vw);
$navbar-top-buffer: calc($profile-image-size * 1.1);
$navbar-bottom-buffer: calc($skillbar-icon-size * 2.5 + 10px);

//Font Sizes
$extra-large-font: clamp(36px, min(4.5vw, 4.5vh), 48px);
$large-font: clamp(16px, min(4.25vw, 4.25vh), 36px);
$medium-font: clamp(14px, min(3.75vw, 3.75vh), 32px);
$small-font: clamp(12px, min(3vw, 3vh), 28px);
$extra-small-font: clamp(10px, min(2.75vw, 2.75vh), 24px);

//For left reference
$avatar-container-width:  clamp(10px, min(10vh, 10vw), 300px);
