//Used to calculate placement of text
@use 'sass:math';
@function ratio($portion, $whole) {
    @return math.div($portion, $whole) * 100%;
}

//Global Variables:
//$navbar-top-buffer
//$navbar-bottom-buffer
//$profile-image-size
//$margin-sides
//$avatar-container-width
//$skillbar-icon-size

@import './variables';

//Quest Background
$quest-background-height: 650px;  //ratio will be 100%
$quest-background-width: 700px;   //ratio will be 100%

//Intro
$quest-intro-height: ratio(80px, $quest-background-height);
$quest-intro-width: ratio(310px, $quest-background-width);

$quest-intro-top: ratio(125px, $quest-background-height);
$quest-intro-left: ratio(195px, $quest-background-width);

//Text
$quest-text-height: ratio(240px, $quest-background-height);
$quest-text-width: ratio(390px, $quest-background-width);

$quest-text-margin: ratio(10px, $quest-background-height);
$quest-text-top: $quest-intro-top + $quest-intro-height + $quest-text-margin;
$quest-text-left: ratio(155px, $quest-background-width);

//Conclusion

$quest-end-height: ratio(160px, $quest-background-height);
$quest-end-width: ratio(280px, $quest-background-width);

$quest-end-top: $quest-text-top + $quest-text-height + $quest-text-margin;
$quest-end-left: ratio(210px, $quest-background-width);

/*
*  Container for all views
*/

.main-container {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 600;

    position: absolute;
    top: calc($navbar-top-buffer + $skillbar-icon-size / 2);
    bottom: calc($navbar-bottom-buffer + 10px);
    left: $margin-sides;
    right: $margin-sides;
    animation: mainContainerFadeIn 2s ease-out forwards;
}

@keyframes mainContainerFadeIn {
    from {
        opacity: 0;
    }    
    to {
        opacity: 1;
    }
}

/*
*  AVATAR
*/

.avatar-image {
    width: 100%
}

.avatar-above-image {
    width: 50%;
    margin-bottom: 5px;
    opacity: 70%;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: $avatar-container-width;
    z-index: 9999;
}


/////
/// Text Box with Border
/////


.text-box-container {
    position: relative;
    height: 100px;
    box-sizing: border-box;
}

.text-box-border {
    position: absolute;
    inset: 0px;
    background: linear-gradient(to right, #E8E8E8 0%, #A9A9A9 50%, #E8E8E8 100%);
    border-radius: 10px;
    opacity: .5;
    
}

.text-box-content {
    background-color: black;
    color: white;
    position: absolute;
    inset: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: .8;
}

.text-box-charm {
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 50%;
    width:15%;
    transform: translate(-40%, -60%);
}

.text-box-nav-down, .text-box-nav-up {
    width:20%;
}

.text-box-nav-down {
    position: absolute;
    right: 50%;
    bottom: 0%;
    transform-origin: top right;
    transform: rotate(-90deg) translateX(-75%) translateY(-50%);
}

.text-box-nav-up {
    position: absolute;
    right: 50%;
    top: 0%;
    transform-origin: top right;
    transform: rotate(90deg) translateX(25%) translateY(-50%);
}

.nav-fade {
    opacity: .5;
}

/////
/// Quest Box
///// 

//ALL QUEST SIZE IS CHANGED HERE
.quest-container {
    position: absolute;
    top: 10px;
    bottom: 5%;
    left: calc($avatar-container-width + 10px);
    right: 10%;
    overflow: hidden;
    
}

.quest-border {
    position: absolute;
}

.quest-border-top {
    bottom: 90%;
    width: 100%;
    max-height: 30px;
    z-index: 2;
}

.quest-border-bottom {
    top: 90%;
    width: 100%;
    max-height: 40px;
    z-index: 2;
}

.quest-border-left {
    right: 75%;
    height: 100%;
    z-index: 3;
}

.quest-border-right {
    left: 75%;
    height: 100%;
    transform: scaleX(-1);
    z-index: 3;
}

.quest-background {
    position: absolute;
    bottom: calc(10% - 20px);
    top: calc(10% - 20px);
    left: 5%;
    right: 5%;
    z-index: 1;
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;    
        opacity: 90%;
        background-color: rgba(255,255,255,.8);
    }
}

.quest-text-intro {
    position: absolute;
    z-index: 2;
}

.quest-text-intro {
    //Responsive, large, bold
    font-size: $extra-large-font;
    font-weight: 600;

    //Center all
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    //Position
    top: $quest-intro-top;
    left: $quest-intro-left;
    width: $quest-intro-width;
    height: $quest-intro-height;
}

.quest-text-body {
    
    font-family: 'IM Fell English SC', serif;
    font-size: $medium-font;
    position: absolute;

    //Column
    display: flex;
    flex-direction: column;
    justify-content:center;

    //Position
    top: $quest-text-top;
    left: $quest-text-left;
    width: $quest-text-width;
    height: $quest-text-height;
    z-index: 2;
}

.quest-text-end {
    font-family: 'IM Fell English SC', serif;;
    position: absolute;
    font-size: $medium-font;

    //Column
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    //Position
    top: $quest-end-top;
    left: $quest-end-left;
    width: $quest-end-width;
    height: $quest-end-height;
    z-index: 2;
}

.scrollable { 
    overflow: hidden;
    overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit browsers */
}