.skill-modal-container {
    position: absolute;
    left: 40%;
    width: 50%;
    top: 20%;
    height: 60%;
    background-color: rgba(0,0,0,.8);
    border: white 2px solid;
    display: flex;
    flex-flow: column;
    align-items: center;
}

