.skill-modal-container {
    position: absolute;
    left: 50%;
    width: 30%;
    top: 10%;
    height: 80%;
    background-color: rgba(0,0,0,.8);
    border: white 2px solid;
    display: flex;
    flex-flow: column;
    align-items: center;

}

