.skill-modal-container {

    position: absolute;
    left: 40%;
    width: 50%;
    top: 15%;
    height: 70%;

}

.skill-modal-projects {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

