
@import '../../styles/variables';

//Profile Image

.cv-button-column {
    position: absolute;
    inset: 10px;
    top: 30px;
    width: 25%;
    display: flex;
    flex-flow: column;
    gap: calc(clamp($skillbar-icon-size, $skillbar-icon-size * 1.25,  8vh) *.4);
}

.cv-quest-container {
    right: 0;
    left: calc(25% + 10px);
}

.cv-charm {
    border-radius: 5px;
    width: clamp($skillbar-icon-size, $skillbar-icon-size * 1.25,  min(7vh, 7vw));
    transform: translate(-25%, -25%);
    border: black 2px solid;
}

.cv-content {
    text-align: right;
    font-size: $extra-small-font;
    padding-right: 10px;
    padding-left: 10px;
}

.cv-box-container {
    transition: transform .2s ease-out;
}

.cv-box-container:hover {
    transform: translateX(-5px);
}