//Profile Image

.cv-button-column {
    position: absolute;
    inset: 10px;
    display: flex;
    flex-flow: column;
    
}

.cv-button-container {
    position: relative;
    margin: 10px;
    height: 100px;
    width: 25%;
}


.cv-gradient-border {
    position: absolute;
    inset: 0px;
    background: linear-gradient(to right, #E8E8E8 0%, #A9A9A9 50%, #E8E8E8 100%);
    border-radius: 10px;
    opacity: .5;
    
}

.cv-button {
    background-color: black;
    color: white;
    position: absolute;
    inset: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: .8;
}

.cv-charm {
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 50%;
    width:15%;
    transform: translate(-40%, -60%);
}