.skill-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: black 2px solid;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
}

.skill-tree-header {
    font-size: 30px;
    height: 10%;
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.skill-tree-expander {
    height: 30px;
    width: 30px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
    cursor: pointer;
}

.skill-plus-sign {
    position: relative;
    width: 80%; /* Width of the plus sign */
    height: 80%; /* Height of the plus sign */
}

.skill-plus-sign::before,
.skill-plus-sign::after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.8); /* Color of the plus sign */
}

.skill-plus-sign::before {
    /* Vertical line */
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px; /* Thickness of the plus sign */
}

.skill-plus-sign::after {
    /* Horizontal line */
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 4px; /* Thickness of the plus sign */
}