.skill-container {
    position: absolute;
    margin: 15px;
    height: 90%;
    width: 90%;
    border: black 2px solid;
    overflow: hidden;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
}

.skill-tree-header {
    font-size: clamp(18px, 2.5vw, 24px);
    height: 10%;
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.skill-tree-expander {
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
    cursor: pointer;
}

.skill-tree-expander:hover {
    border: blue 1px solid;
}

.skill-tree-skill {
    cursor: pointer;
}

.skill-tree-skill:hover {
    color: black;
    background-color: white;
}


/////
/// Expand Button Plus Sign
/////
.skill-plus-sign {
    position: relative;
    width: 80%; 
    height: 80%; 
}

.skill-plus-sign::before,
.skill-plus-sign::after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.8); 
}

/* Vertical line */
.skill-plus-sign::before {
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
}

/* Horizontal line */
.skill-plus-sign::after {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 4px; 
}