
@import '../../styles/variables';

.cbm-main-container {
    position: absolute;
    top: $navbar-top-buffer;
    left: 0;
    width: 100%;
    bottom: calc($skillbar-icon-size * 2.5);
}

.cbm-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: none;

    transition: background-color ease-in 1s;
}

.cbm-modal-background-unfade {
    background-color: rgba(0,0,0,0.5);
}

.cbm-spear-left, .cbm-spear-right {
    position: absolute;
    height: 100%;
    z-index: 5;
    top: 120%;

    transition: top ease-in-out 1s;
}

.cbm-spear-right{
    right: calc($margin-sides + 5vw);
    transform: translateX(50%);
}

.cbm-spear-left{
    left: calc($margin-sides + 5vw);
    transform: translateX(-50%);
}


.cbm-vertical-spear-end-position {
    top: 0%;
}

.cbm-spear-top {
    position: absolute;
    width: calc(100vw - 2 * $margin-sides);
    transform: translateY(-50%);
    top: 5vh;
    left: 100%;
    z-index: 4;

    transition: left ease-out 1s;
}

.cbm-horizontal-spear-end-position {
    left: calc($margin-sides);
}

.cbm-chat-window-container {
    position: absolute;
    right: calc($margin-sides + 5vw);
    left: calc($margin-sides + 5vw);
    top: 5vh;
    bottom: -5vh;
    background: linear-gradient( to bottom, rgba(0,0,0,.95), rgba(0,0,0,.9) 90%, rgba(0,0,0,0)); 
    opacity: 0;

    transition: opacity ease-in-out 1s;

}

.cbm-chat-window-container-visible {
    opacity: 1;
}

.cbm-user-bar {
    position: absolute;
    top: 80%;
    left: 20px;
    right: 20px;
    bottom: 7vh;
    border: white double 4px;
    border-radius: 0 0 20px 20px;

    background-color: rgba(0,200,200,.1);

    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;

    >input {
        border: white solid 2px;
        height: clamp(20px, 80%, 40px);
        width: 75%;
        border-radius: 5px;
        background-color: rgba(255,255,255,.7);

    }

    //Submit Button
    >div {
        border: white solid 2px;
        height: clamp(20px, 80%, 40px);
        width: 25%;
        border-radius: 5px;
        background-color: rgba(34, 45, 54, .8);
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255,255,255,.8);
    
        &:hover {
            background-color: rgba(34, 45, 54, 1);
            color: rgba(255,255,255,1);
            cursor: pointer;
        }
    }
}


/****************/
/* Chat Log CSS */
/****************/

.cbm-scrollable-container {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20%;
    
    height: calc(80% - 40px);
    display: flex;
    flex-direction: column-reverse;

    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;

    border: white double 4px;
    border-radius: 20px 20px 0 0;

    background-color: rgba(0,200,200,.1);

}

.cbm-chat-window {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 2%;
    gap: 2%;
}

.cbm-chat-entry {
    color: rgba(255, 0, 0, 255);
    font-family: 'IM Fell English', serif;

    font-size: $medium-font;
    font-weight: 100;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 2%;

    > :nth-child(2) {
        margin-left: 5%;        
    }

}


.cbm-typing-notification {
    color: rgba(155,155,155,1);
    font-size: $extra-small-font;
    opacity: 1;

    animation: blinking 2000ms infinite;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
}


.color-warn {
    color: rgba(255, 0, 0, 1);
}

.color-admin {
    color: rgba(0, 255, 255, 1);
}

.color-user {
    color: rgba(255,255,255,1)
}

.color-npc1 {
    color: darkgoldenrod;
}

.color-npc2 {
    color: forestgreen;
}
