@import '../../styles/variables';

$modal-height: clamp(60vh, min(95vh, calc(100vw - calc($margin-sides * 2))), 90vh);

.csm-main-container {
    position: absolute;
    margin:auto auto;
    inset: 0;

    width: calc(100vw - calc($margin-sides * 2));
    height: $modal-height;

    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 1;
    transition: opacity .5s ease-out;

    &.csm-loading {
        opacity: 0;
    }
}

.csm-expanded-image-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    background-color: rgba(0,0,0,.8);
    cursor: pointer;
    pointer-events: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    >div {
        width: 80%;
        height: 80%;
        margin: 0 auto;

        >img {
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            margin: auto;
            outline: white 2px solid;
        }
    }
    
}

.csm-info-container {
    position: absolute;

    left: calc($modal-height * .05);
    width: calc(100% - calc($modal-height * .05) * 2);

    top: 0;
    bottom: 0;

    z-index: 1;

    img {
        top:0;
        left:0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}


.csm-expand-info {
    width: calc(min(95vh, calc(100vw - calc($margin-sides * 2))) * .5);
    height: calc(min(95vh, calc(100vw - calc($margin-sides * 2))) * .5);
}

.csm-previous-page, .csm-next-page {
    
    // Size and position
    position: absolute;
    top: 40%;
    height: calc($modal-height * .2);
    width: calc(calc(100vw - calc($margin-sides * 2)) * .2);
    z-index: -1;
    transition: transform .5s ease-out;

    pointer-events: visiblePainted;
    
    img {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        pointer-events: visiblePainted;
    }
}

.csm-previous-page {
    left: -5%;
     
    &.csm-animate {
        animation: animateNavBar infinite 3s;
        
        &:hover {
            animation: none;
            transform: translateX(-1vw);
        }
    }


}

.csm-next-page {
    right: -5%;
    transform: scaleX(-1) translateX(0);

    &.csm-animate {
        animation: animateNavBarReverse infinite ease-in-out 3s;

        &:hover {
            animation: none;
            transform: scaleX(-1) translateX(-1vw);
        }
    }



}

.csm-animate {
    animation-delay: 2s;
}

.csm-fade {
    opacity: .5;
}

.csm-text-box-border {
    background: linear-gradient(to right, rgba(51, 51, 51, 1), rgba(102, 102, 102, 1), rgba(51, 51, 102, 1), rgba(51, 51, 102, 0.5), rgba(51, 51, 102, 0), rgba(102, 102, 102, 1), rgba(51, 51, 51, 1));
    opacity: .8;
}

.csm-title-container {
    position: absolute;

    top: 5%;
    left: 20%;
    right: 20%;
    
    height: calc($modal-height * .15);
    
    z-index: 2;
}

.csm-title {
    padding: 5%;
    font-size: $large-font;
    font-family: 'MedievalSharp', serif;
    font-weight: 500;
    background-color: rgba(158, 158, 157);
    color: black;
}

.csm-text-container {
    position: absolute;
    top: calc($modal-height * .22);
    bottom: calc($navbar-bottom-buffer + 20%);
    left: 20%;
    right: 20%;
    font-family: 'IM Fell English', serif;
    font-size: $small-font;
    
    display: flex;
    align-content: center;
    
}

.csm-image-container {
    position: absolute;
    top: calc(100% - ($navbar-bottom-buffer + 20%));
    bottom: 5%;
    left: 20%;
    right: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;

    &>.csm-image-wrapper {
        position: relative;
        height: 80%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height .25s ease-in-out, width .25s ease-in-out;
        
        &>img {
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width:auto;
            height: auto;
            object-fit: contain;
            cursor: pointer;
            border: black 2px solid;
        }
    }

    &>.csm-image-wrapper:hover {
        height:82%;
        width: 82%;
    }

    text-align: center;
    font-style: italic;
}

.csm-text {
    margin: auto auto;
}



@keyframes animateNavBar {
    0%, 30%, 70%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1vw);
    }
}

@keyframes animateNavBarReverse {
    0%, 30%, 70%, 100% {
        transform: scaleX(-1) translateX(0);
    }
    50% {
        transform: scaleX(-1) translateX(-1vw);
    }
}