@import '../../styles/variables';

$modal-height: min(95vh, calc(100vw - calc($margin-sides * 2)));

.csm-main-container {
    position: absolute;
    margin:auto auto;
    inset: 0;

    width: calc(100vw - calc($margin-sides * 2));
    height: $modal-height;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.csm-info-container {
    position: absolute;

    //TODO
    left: calc($modal-height * .05);
    width: calc(100% - calc($modal-height * .05) * 2);

    height: 90%;
    bottom: 0;

    z-index: 1;
}

.csm-img-container {
    position: absolute;
    right: 0;
    top: 0;
    width: calc($modal-height * .3);
    height: calc($modal-height * .3);
    overflow: hidden;

    cursor: pointer;

    z-index: 3;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    &:hover {
        width: calc(min(95vh, calc(100vw - calc($margin-sides * 2))) * .5);
        height: calc(min(95vh, calc(100vw - calc($margin-sides * 2))) * .5);
    }
}

.csm-previous-page, .csm-next-page {
    position: absolute;
    
    height: calc($modal-height * .1);
    width: calc($modal-height * .1);

    background-color: rgba(0,0,0,0.01);

    z-index: 2;

    img {
        width: 100%;
        height: 100%;
    }
}

.csm-previous-page {
    left: 0;
}

.csm-next-page {
    right: 0;
    transform: scaleX(-1);
}

.csm-fade {
    opacity: .5;
}