//Profile Image
$profile-image-size: min(13vw, 125px);

//Health Bar
$health-bar-width: calc($profile-image-size * 5);
$health-bar-height: calc($health-bar-width/12);

//Name Plate
$name-plate-width: calc($profile-image-size *2);
$name-plate-height: calc($profile-image-size/5);

//Navbar Offset
$nav-left: max(10px, $profile-image-size);
$nav-top: 20px;

/*
*   Health Bar
*/

.nb-healthbar-container {
    width: $health-bar-width;
    height: $health-bar-height;
    overflow: hidden;
    position: absolute;
    top: calc($nav-top + $profile-image-size/2 - $health-bar-height/2);
    left: calc($nav-left + 30px);
}

.nb-health-bar {
    width: $health-bar-width;
    height: $health-bar-height;
    position: absolute;
    transition: left 0.5s ease;
}

/*
*   Profile Image
*/

.nb-profile-image {
    width: $profile-image-size;
    height: $profile-image-size;
    position: absolute;
    top: $nav-top;
    left: $nav-left;
}

.nb-profile-background-color{
    transition: background-color 1s ease;
}

.nb-profile-border {
    animation: rotate-border 2s ease-in-out infinite;
}

@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
*   Name Plate
*/

.nb-name-plate-color-overlay {
    mix-blend-mode: overlay;
    transition: background-color 1s ease;
}

.nb-name-plate {
    width: $name-plate-width;
    height: $name-plate-height;
    overflow: hidden;
    position: absolute;
    top: calc($nav-top + $profile-image-size/2 - $health-bar-height/2 - $name-plate-height);;
    left: calc($nav-left + calc(3*$profile-image-size/4));
}