//Profile Image
$profile-image-size: min(13vw, 125px);

//Health Bar
$health-bar-width: calc($profile-image-size * 5);
$health-bar-height: calc($profile-image-size * 2 / 6);

//Name Plate
$name-plate-width: calc($profile-image-size *2);
$name-plate-height: calc($profile-image-size/5);

//Navbar Offset
$nav-left: max(10px, $profile-image-size);
$nav-top: 20px;

//Skillbar Icon
$skillbar-icon-size: calc($profile-image-size * 2 / 6);

/*
*   Health Bar
*/

.nb-healthbar-container {
    width: $health-bar-width;
    height: $health-bar-height;
    overflow: hidden;
    position: absolute;
    top: calc($nav-top + $profile-image-size/2 - $health-bar-height/2);
    left: calc($nav-left + 30px);
}

.nb-health-bar {
    width: $health-bar-width;
    height: $health-bar-height;
    position: absolute;
    transition: left 0.5s ease;
}

/*
*   Profile Image
*/

.nb-profile-image {
    width: $profile-image-size;
    height: $profile-image-size;
    position: absolute;
    top: $nav-top;
    left: $nav-left;
}

.nb-profile-background-color{
    transition: background-color 1s ease;
}

.nb-profile-border {
    animation: rotate-border 2s ease-in-out infinite;
}

@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
*   Name Plate
*/

.nb-name-plate-color-overlay {
    mix-blend-mode: overlay;
    mask-image: url('/public/Name-Plate-Background-250-25.png');
    mask-size: cover;
    transition: background-color 1s ease;
}

.nb-name-plate {
    width: $name-plate-width;
    height: $name-plate-height;
    overflow: hidden;
    position: absolute;
    top: calc($nav-top + $profile-image-size/2 - $health-bar-height/2 - $name-plate-height);;
    left: calc($nav-left + calc(3*$profile-image-size/4));
}

/*
*   Right Side Skill Bar
*/

.nb-right-skillbar {
    position: absolute;
    background-color: rgba(100,100,100,.5);
    top: calc($nav-top + $profile-image-size);
    left: calc($nav-left + 30px + calc($profile-image-size * 5));
    //Temporary Dimensions
    width: calc($skillbar-icon-size + 8px);
    height: calc($skillbar-icon-size * 5);
    border: black 5px solid;
    border-radius: 5px;
}

.nb-skillbar-icon {
    position: relative;
    left: 2px;
    top: 2px;
    bottom: 0px;
    width: $skillbar-icon-size;
    height: $skillbar-icon-size;
    border: 2px black solid;
    background-color: rgba(150,100,0,1);
}